.body {
    font-family: "Roboto";
    color:#212121;
    line-height: 1.1;
    font-size: 14px;
}
.button1 {
    width: 200px;
    height: 50px;
    background-color:#2196F3
}
.button1:hover {
    background-color: #2196F3;
}
.button {
    width: 121px;
    height: 38px;
    background-color: #eee;
    font-weight:500;
    line-height: 1.6;
    font-size: 16px;
}

.button:hover {
    background-color: #2196F3;
        }

.header {
    background-color: #E5E5E5;
}
.logo {
    color: #2196F3;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
    
.logo2 {
    color: #FFFFFF;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo3 {
    color: #000 ;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.link {
    color: #212121;
    font-family:"Roboto";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.link-blue {
    color: #2196F3;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.footer {
    background-color: #2F303A  }   
.text {
    font-weight: 400;
    color: #FFFFFF;
}
p{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.wallpaper {
    background-color: #2F303A;
}
.text2 {
    color: #fff;
}
.text3 {
    color: #757575;
    text-decoration: none;
}
.business {
    background-color: #2F303A;

}
h1 {
    color: #FFFFFF;
}
h2 {
    color:#212121
}
h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121}
h5{
    font-family: "Roboto";
    font-weight: 700;
    color: #212121;
}
h6 {
    color: #212121;
}
.lorem-ipsum {
   background-color: #E5E5E5;
}

.team {
    color: #F5F4FA;
}

.main {
    background-color: #fff;
}
.top {
    Font-family: "Roboto" 
}
