.body {
    font-family: "Roboto";
    color:#212121;
}

.button {
    cursor:pointer;
    color:#E5E5E5;
}
.button:active {
    color: #2196F3;
}
.button:hover {
    color: #49aaff;
    text-decoration-color: none;
        }

.header {
    background-color: #E5E5E5;
}
.logo {
    color: #2196F3;
    font-weight: 700;
    font-size: 26px;
}
    
.logo2 {
    color: #212121;
    font-weight: 700;
    font-size: 26px;
}
.link {
    color: #212121;
    font-weight: 500;
    font-size: 14px;
}
.link-blue {
    color: #2196F3;
    font-weight: 500;
    font-size: 14px;
}
.footer {
    background-color: #2F303A
    
}
    
.text {
    font-weight: 400;
    color: #FFFFFF;
}
.h4 {
    font-weight: 700;
    font-size: 18px;
}
p {
    color: #757575;
    font-weight: 400;
}

.filters .filter {
    color: #F5F4FA;
}
.wallpaper {
    background-color: #2F303A;
}
.text2 {
    color: #fff;

}