.body {
background-color: #E5E5E5;
color: #212121;
}

.button {
    cursor:pointer;
    color:#E5E5E5;
    background-color: #2196F3 ;
}
.header {
    background-color: #E5E5E5;
}
.webstudio{
    font-weight: 700;
    font-family: "Raleway";
}
.link {
background-color: #2196F3;
}

.footer {
    background-color: #2F303A}
    
.text {
    font-weight: 400;
    color: #212121;
}
.h4 {
    font-weight: 700;
    font-size: 18px;
}
